
body {
  
    font-family: 'Roboto', sans-serif;
font-size: 14px;

line-height: 21px;
text-align: center;   
text-decoration: none; 
}

h2 {
    margin: 100px 40px 10px;
    padding-bottom: 70px;
}

h3 {
    font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight:100;
line-height: 23.44px;
text-align: center;

}
.container {
   
    max-width: 360px;
    margin: 46px auto;
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

.button {
    background: #549F3B;
    border-radius: 2px;

}

input[type="text"], input[type="email"], input[type="password"] {

    font-family: 'Roboto', sans-serif;
width: 312px;
    padding: 10px;
    margin: 10px 0;
    height: 50px;
    border: 0px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;


}

input[type="submit"], button {
   
 width: 310px;
 padding: 10px;
height: 52px;
margin: 30px 5px 30px;
top: 800px;
gap: 40px;
opacity: 0px;
font-family: 'Roboto', sans-serif;
font-size: 1.2rem;
font-weight: 600;
text-decoration: none;
    background-color: #549F3B;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


@media screen and (max-width: 480px) {
    .container {
        max-width: 90%;
    }
}
